@import "../reset.css";
@import "range.css";

body {
  background-color: teal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}
.backboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #633200;
  width: 2000px;
  height: 1600px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(50, 50, 93, 11), 0 1px 10px rgba(0, 0, 0, 11);
}

.Canvas {
  width: 1500px;
  height: 1000px;
  background-color: wheat;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(50, 50, 93, 11), 0 1px 10px rgba(0, 0, 0, 11);
  margin: auto;
  margin-bottom: 120px;
}

.control_color {
  display: flex;
}

.control_color .color_plate {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.Buttons {
  margin-bottom: 50px;
}
.Buttons button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 30px;
}
#jsMode {
  margin-left: 15px;
  margin-right: 15px;
}

#jsSave {
  margin-left: 15px;
  margin-right: 15px;
}

.Buttons button:active {
  transform: scale(0.98);
}

.Range {
  margin-bottom: 50px;
}
#jsRange {
  width: 700px;
}
